<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
 <link rel="shortcut icon" href="https://media-exp1.licdn.com/dms/image/C5103AQHy0cJj4HYarQ/profile-displayphoto-shrink_200_200/0?e=1594857600&v=beta&t=wgiv6czSdUIERM86eUwQAc7_lG1KWl1gyU2h9HDU2LE">
<link rel="stylesheet"   href="css/MainCssFile.css"
          th:href="@{css/MainCssFile.css}" media="screen"/>
<title>Login Page</title>
</head>
<body>
<div id="Login-Container">
		<h2 id="login-signUp-heading">Login/SignUp</h2>
		<form action='/login' method="post">
			<input type='text' name='email' placeholder="Email"></input> <span class='errors' th:text="${emailError}"></span>
			<input type="password" name="password" placeholder="Secret Key"></input><span class='errors' th:text="${passwordError}"></span>
			<input type='submit' class="button login-buttons" id="login-button" value='Login'></input>
		</form>
		
		<a href="/register" class="button login-buttons" id="signUP-button">Don't
			have account,SignUp</a>

	</div>
</body>
</html>